<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="~{fragments/base :: head}"></header>
    <style>
        th { text-align: center; }
        td { vertical-align: middle; }
    </style>
</head>
    <script>
        function handleEnter(event) {
            if (event.key === 'Enter') {
                event.preventDefault();     // 줄바꿈 방지
                search();
            }
        }
        function search() {
            const field = document.getElementById('field').value;
            const query = document.getElementById('query').value;
            const uri = '/book/list?p=1' + '&f=' + field + '&q=' + query;
            location.href = encodeURI(uri);   // 한글 입력시 인코딩해서 전달
        }
    </script>
</h1>
<hr>
<table border="1">
    <tr>
        <th>No.</th>
        <th>사진</th>
        <th>uid</th>
        <th>이름</th>
        <th>이메일</th>
        <th>등록일</th>
        <th>권한</th>
        <th>Provider</th>
        <th>액션</th>
    </tr>
    <tr th:each="user: ${userList}">
        <td th:text="${userStat.count}">1</td>
        <td>
            <img th:src="${user.profileUrl}" alt="picture" height="48" style="border-radius: 50%;">
        </td>
        <td th:text="${user.uid}">james</td>
        <td th:text="${user.uname}">제임스</td>
        <td th:text="${user.email}">james@gmail.com</td>
        <td th:text="${user.registerDate}">2024-09-26</td>
        <td th:text="${user.role}">ROLE_USER</td>
        <td th:text="${user.provider}">Local</td>
        <td>
            <a th:href="@{/user/update/{x}(x=${user.uid})}">수정</a>
            <a th:href="@{/user/delete/{x}(x=${user.uid})}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>